name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Give permission to gradlew
      run: chmod +x gradlew

    - name: Build project (create jar)
      run: ./gradlew build

    - name: Upload built jars
    - uses: actions/upload-artifact@v4
      with:
        name: built-jars
        path: build/libs/
