name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Give permission to gradlew
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew build --stacktrace

      - name: Upload built jars
        uses: actions/upload-artifact@v4
        with:
          name: built-jars
          path: build/libs/
